h1, img {
    display: inline-block;
}

a {
    color: black;
    text-decoration: none;
}

#left{
    margin-right: -2px;
}

td a:hover, button:not(.close):hover, button:not(.close):active {
    color: #00388c;
    background-color: #00388c !important;
}

th.compact.rightb.bottomb, th.compact.bottomb.headcol, th {
    color: #00388c;
    background-color: #00388c !important;
}
.modal-body a {
    color: #3d53ff;
    text-decoration: underline;
}

.warning-color{
    color: #c13500
}


.compact {
    padding-left: 3px !important;
    padding-right: 3px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin: 0px !important;
    /*background-color: rgb(245, 245, 245);*/
}

.rightb {
    border-right: solid 2px #bbbbbb;
}

.leftb {
    border-left: solid 2px #bbbbbb;
}

.topb {
    border-top: solid 2px #bbbbbb;
}

.bottomb {
    border-bottom: solid 2px #bbbbbb;
}

tfoot {
    border-top: 1px solid black;
}

.modal {
    position: fixed; /* Stay in place */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.modal-dialog .modal-lg{
    margin: 5% auto 15% auto;
    width: 75%; /* Could be more or less, depending on screen size */
}

.modal-body table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}
.modal-body table .pre {
    white-space: pre;
}
.modal-body table .absorbing-column {
    width: 100%;
}

.modal-body td, .modal-body th {
    border: 1px solid black;
    /*width: 80%;*/
}

.overflow {
    max-width: 720px;
    overflow-x: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

html {
    overflow: scroll;
    /*overflow-x: hidden;*/
}
/*::-webkit-scrollbar {*/
/*width: 0px;  !* remove scrollbar space *!*/
/*height: 0px;*/
/*background: transparent;  !* optional: just make scrollbar invisible *!*/
/*}*/


/* change the font */
* {
    font-family: roboto, arial, sans-serif;
}

/* pageify (centered, drop shadow, etc.) log */
body {
    width: 66%;
    min-width: 1000px;
    margin: auto;
    background-color: #fbfbfb;
    display: inline-block;
    border-radius: .2em;
    box-shadow: .1em .1em .4em #b4b4b4;
}

/*.overflow {*/
/*max-width: 850px;*/
/*}*/

html {
    background-color: #f5f5f5;
    text-align: center;
    padding: 1em;
}

/* end pageify */

/* align details display column headings with text for cleaner display */
#task * th {
    text-align: left;
}

/* adjust heading spacing */
h1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-bottom: .3em;
    /* add gray divider */
    border-bottom: .2em solid #d5d5d5;
    min-width: 800px;
}

/* increase td spacing */
.compact, .modal-body * td {
    padding: 0.5em .3em !important;
}

/* maintain vertical positioning */
th.compact {
    height: 4em;
}

table.hide_overflow > tbody > tr > td {
    /* allows for scrollbar */
    vertical-align: top;
}

/* end maintain vertical positioning */

/* change buttons from default styling */
button:not(.close) {
    border-radius: .2em;
    background-color: #555555;
    padding: 1em;
    border: none;
    color: white;
    box-shadow: 0em .1em .4em #b4b4b4;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

button:not(.close):hover {
    box-shadow: 0em .4em .6em #747474;
    color: white;

    /* make cursor the hand to communicate clickability */
    cursor: pointer;
}

button:not(.close):active {
    color: white;
}

/* end general button styling */

/* adjust popup window close button size */
/*button.close {*/
/*padding: .5em;*/
/*}*/

/* make export button float on the right side to not take up more screen
    real estate, increase size and adjust font for legibility */
form button {
    margin-left: 10px;
    padding: .5em !important;
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    height: 40px;
}

/*do not touch*/
#refreshButton {
    margin-top: -2px;
}

#print-preview {
    margin-left: 0;
}

/* table striping */
tr:nth-child(even) {
    background-color: #f0f0f0;
}

:not(thead) > tr:nth-child(odd) {
    background-color: #fbfbfb;
}

/* end table striping */

/* add row hover effect */
tr {
    -webkit-transition: all .5s !important;
    -moz-transition: all .5s !important;
    -ms-transition: all .5s !important;
    -o-transition: all .5s !important;
    transition: all .5s !important;
}

th.compact.rightb.bottomb, th.compact.bottomb.headcol, th{
    color: white;
}

.dailyHours{
    background-color: #f0f0f0 !important;
}
.weeklyHours{
    background-color: #f0f0f0 !important;
}

:not(thead) > tr:hover {
    background-color: #d0d0d0;
}
#temp {
    /*background-color: black !important;*/
}
thead, thead tr {
    background-color: #e0e0e0;
}

table.hide_overflow > tbody > tr:hover {
    background-color: #fbfbfb;
}

/* end row hover effect */

/* visible table cell padding (does not affect alignment table)*/
table * table td, table * table th, .display * td, .display * th, .modal-body * th {
    padding: .5em;
}

/* add clickable td hover effect */
td a {
    cursor: pointer;
    display: block;
    text-decoration: none !important;
    background-color: transparent;
    padding: .5em .3em;
    margin: -.5em -.3em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

td a:hover {
    color: white;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid black;
}

.inline {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.h1 {
    font-size: 2em;
    font-weight: bold;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 260px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    font-size: 16px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#nextWeek:hover, #lastWeek:hover, #refresh:hover {
    color: #000000 !important;
    background-color: #FBFBFB !important;
    border-color: #666666 !important;
}
#nextWeek, #lastWeek, #refresh {
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 12px;
    margin-right: 10px;
    display: inline;
    width: 150px;
    height: 32px;
}
#nextWeek, #lastWeek, #refresh {
    color: #222222;
    background-color: white;
    border-color: #888888;
}

/* Got the main logic of this from: "https://css-tricks.com/almanac/properties/b/border-image/" */
.repeating-linear {
    color: black;
    border: 8px solid blue;
    border-image: repeating-linear-gradient( 45deg, rgb(228, 222, 222), white 1%, rgb(8, 8, 145) 1%, rgb(8, 8, 145) 8%) 10;
    height: 102px;
    width: 650px;
  }
  #toggleBtn, #warningdisplay{
    padding: .5em !important;
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    height: 40px;
    margin-right: 10px;
}
#warnings{
    color: rgb(255, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
.month {
    color: rgb(255, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

  

/* end clickable td hover effect */
